:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-blue: hsl(217, 54%, 11%);
  --card-blue: hsl(216, 50%, 16%);
  --line-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--main-blue);
  color: var(--white);
}

img {
  max-width: 100%;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  width: 23rem;
  background: var(--card-blue);
  padding: 1.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0px 23px 0px 16px rgba(13, 22, 41, 255);
  -webkit-box-shadow: 0px 23px 0px 16px rgba(13, 22, 41, 255);
  -moz-box-shadow: 0px 23px 0px 16px rgba(13, 22, 41, 255);
}

.card-figure {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.wrapper-content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: #00fff775;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-content img {
  width: 4rem;
}

.wrapper-content:hover {
  opacity: 1;
  cursor: pointer;
}

.card-title {
  font-size: 23px;
  font-weight: 600;
}

.card-title:hover {
  cursor: pointer;
  color: var(--cyan);
}

.card-description {
  font-size: 19px;
  color: var(--soft-blue);
  font-weight: 100;
  line-height: 1.7rem;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info-value {
  color: var(--cyan);
  font-weight: 600;
  background: url(./images/icon-ethereum.svg) no-repeat left;
}

.card-info-date {
  color: var(--soft-blue);
  font-weight: 100;
  background: url(./images/icon-clock.svg) no-repeat left;
}

.card-info-date,
.card-info-value {
  padding-left: 1.3rem;
  font-size: 15px;
}

.card-footer {
  padding-top: 1.5rem;
  border-top: 1px solid var(--line-blue);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-user-figure {
  width: 2.2rem;
  border: 1.5px solid var(--white);
  border-radius: 50%;
}

.card-user-info {
  font-weight: 100;
  color: var(--soft-blue);
}

.card-user-info-span {
  color: var(--white);
}

.card-user-info-span:hover {
  cursor: pointer;
  color: var(--cyan);
}

@media (width <= 500px) {
  .card {
    width: 20rem;
  }
}
